---
galaxy_info:
  role_name: timezone
  namespace: homelab
  author: danny
  description: Configure system timezone
  company: Homelab
  license: MIT
  min_ansible_version: "2.9"
  platforms:
    - name: Ubuntu
      versions:
        - focal
        - jammy
        - noble
    - name: Debian
      versions:
        - bullseye
        - bookworm
    - name: EL
      versions:
        - "8"
        - "9"
  galaxy_tags:
    - system
    - timezone
    - time

dependencies: []
